<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                
                <div class="ibox-content">
                    <%path = @user.new_record? ? register_users_path : user_path %>
                    <%= form_for(@user, url: path, :html => {class: 'form-horizontal'}) do |f| %>
                        <% if @user.errors.any? %>
                          <div id="error_explanation">
                            <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

                            <ul>
                            <% @user.errors.full_messages.each do |message| %>
                              <li><%= message %></li>
                            <% end %>
                            </ul>
                          </div>
                        <% end %>
                        <div class="form-group"><label class="col-sm-2 control-label"><%= t('first_name')%>*</label>
                            <div class="col-sm-10">
                            	<%= f.text_field :first_name, class: 'form-control', :placeholder=>t('first_name') %>
                            </div>
                        </div>
                        
                        <div class="hr-line-dashed"></div>

                        <div class="form-group"><label class="col-sm-2 control-label"><%= t('last_name')%>*</label>
                            <div class="col-sm-10">
                            	<%= f.text_field :last_name, class: 'form-control', :placeholder=>t('last_name') %>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>

                        <div class="form-group"><label class="col-sm-2 control-label"><%= t('username')%>*</label>
                            <div class="col-sm-10">
                            	<%= f.text_field :username, class: 'form-control',:placeholder=>t('username') %>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>

                        <div class="form-group"><label class="col-sm-2 control-label"><%= t('mother_name')%></label>
                            <div class="col-sm-10">
                                <%= f.text_field :mother_lname, class: 'form-control',:placeholder=>t('mother_name') %>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>

                        <div class="form-group"><label class="col-sm-2 control-label"><%= t('common')%></label>
                            <div class="col-sm-10">
                                <%= f.text_field :common, class: 'form-control',:placeholder=>t('common') %>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>

                        <div class="form-group"><label class="col-sm-2 control-label"><%= t('region')%></label>
                            <div class="col-sm-10">
                                <%= f.text_field :region, class: 'form-control',:placeholder=>t('region') %>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>

                        <div class="form-group"><label class="col-sm-2 control-label"><%= t('number')%></label>
                            <div class="col-sm-10">
                                <%= f.text_field :number, class: 'form-control',:placeholder=>t('number') %>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>

                        <div class="form-group"><label class="col-sm-2 control-label"><%= t('role')%>*</label>
                            <div class="col-sm-10">
                                <%#= f.select :role, options_for_select([['Admin'], ['Broker']], selected: @user.role, { :class => 'form-control' }) %>

                                <%= f.select(:role, [[t('admin'), 'Admin'], [t('broker'), 'Broker']], {}, { :class => 'form-control', selected: @user.role }) %>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>

                        <div class="form-group"><label class="col-sm-2 control-label"><%= t('email') %>*</label>
                            <div class="col-sm-10">
                            	<%= f.email_field :email, :class=>"form-control", :placeholder=>t('email'), :required=>""  %>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>

                        <div class="form-group"><label class="col-sm-2 control-label"><%= t('sign_up.password') %>*</label>
                            <div class="col-sm-10">
                            	<%= f.password_field :password, autocomplete: "off", :class=>"form-control", :placeholder=>t('sign_up.password') %>
                            </div>
                        </div>
                        
                        <div class="hr-line-dashed"></div>

                        <div class="form-group"><label class="col-sm-2 control-label"><%= t('confirm') %>*</label>
                            <div class="col-sm-10">
                            	<%= f.password_field :password_confirmation, autocomplete: "off", :class=>"form-control", :placeholder=>t('confirm') %>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <%= link_to t('cancel'), users_index_path, :class => "btn btn-white" %>
                                <%= f.submit @user.new_record? ? t('create_user') : t('update_user'),:class=>"btn btn-primary" %>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>

        </div>
    </div>
</div>