<div class="field">
  <div class="form-group">
		<div class="checkbox">
			<%= f.label field.name %>
			<label> <%= f.radio_button field.name, 'M' %> <%= f.label 'Male' %> </label>
			<label> <%= f.radio_button field.name, 'F' %> <%= f.label 'Female' %> </label></div>
  	</div>
</div>